.card {
    width: 80%;
    margin: 5px 10%;
}

.search {
    width: 80%;
    height: 40px;
    margin: 5px 10%;
}

.search-input {
    width: 90%;
    margin: 0 20px;
}

.search-button {
    width: 5%;
    margin: 0 20px;
}

.title {
    font-size: 14;
}