.card {
    width: 80%;
    margin: 5px 10%;
}

.search {
    width: 80%;
    height: 40px;
    margin: 5px 10%;
}

.search-input {
    width: 90%;
    height: 100%;
    margin: 0 2%;
}

#search-button {
    padding: 0;
    width: 5%;
}

.title {
    font-size: 20;
}